*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #efefef;
}

.active{
  background-color: #1976D2 !important;
}

.leaflet-container{
  height: 70vh;
}